@model ProjetoModeloDDD.Mvc.ViewModels.ClienteViewModel

@{
    ViewBag.Title = "Criar Cliente";
}

<h2 class="mb-4">Criar Novo Cliente</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <h4>Detalhes do Cliente</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- Campo Nome -->
        <div class="mb-3 row">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Campo Sobrenome -->
        <div class="mb-3 row">
            @Html.LabelFor(model => model.Sobrenome, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sobrenome, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Campo Email -->
        <div class="mb-3 row">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Campo Ativo (Checkbox) -->
        <div class="mb-3 row">
            @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                <div class="form-check">
                    @Html.EditorFor(model => model.Ativo, new { htmlAttributes = new { @class = "form-check-input" } })
                    @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <!-- Botão de Criação -->
        <div class="mb-3 row">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<!-- Link para voltar à lista -->
<div class="mt-3">
    @Html.ActionLink("Voltar para a Lista", "Index", null, new { @class = "btn btn-secondary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
