@model ProjetoModeloDDD.Mvc.ViewModels.ClienteViewModel

@{
    ViewBag.Title = "Excluir Cliente";
}

<h2 class="mb-4">Excluir Cliente</h2>

<h3 class="text-danger">Tem certeza de que deseja excluir este cliente?</h3>

<!-- Informações do Cliente -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Detalhes do Cliente</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nome)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Nome)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Sobrenome)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Sobrenome)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Ativo)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Ativo)</dd>
        </dl>
    </div>
</div>

<!-- Formulário de Confirmação -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="mt-4">
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a href="@Url.Action("Index")" class="btn btn-secondary ms-2">Voltar para a Lista</a>
    </div>
}
