@model ProjetoModeloDDD.Mvc.ViewModels.ProdutoViewModel

@{
    ViewBag.Title = "Detalhes do Produto";
}

<h2 class="mb-4"><i class="bi bi-box-seam"></i> Detalhes do Produto</h2>

<!-- Informações do Produto -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title"><i class="bi bi-card-list"></i> Informações do Produto</h4>
        <hr />
        <dl class="row">
            <!-- Nome do Produto -->
            <dt class="col-sm-3">
                <i class="bi bi-tag"></i> @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <!-- Valor -->
            <dt class="col-sm-3">
                <i class="bi bi-currency-dollar"></i> @Html.DisplayNameFor(model => model.Valor)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Valor)
            </dd>

            <!-- Disponível -->
            <dt class="col-sm-3">
                <i class="bi bi-check-circle"></i> @Html.DisplayNameFor(model => model.Disponivel)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Disponivel)
            </dd>

            <!-- Cliente -->
            <dt class="col-sm-3">
                <i class="bi bi-person"></i> Cliente
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Cliente.Nome) <!-- Exibindo o nome do cliente associado -->
            </dd>
        </dl>
    </div>
</div>

<!-- Botões de Ação -->
<div class="mt-3">
    <a href="@Url.Action("Edit", new { id = Model.ProdutoId })" class="btn btn-warning">
        <i class="bi bi-pencil"></i> Editar
    </a>
    <a href="@Url.Action("Index")" class="btn btn-secondary ms-2">
        <i class="bi bi-arrow-left-circle"></i> Voltar para a Lista
    </a>
</div>
